DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
PARSE_TIME=

SERVER_ADDR=

JWT_SECRET=
JWT_EXPIRE=
REFRESH_TOKEN_EXPIRE=

RESEND_API_KEY=
EMAIL_FROM=

GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=